.header{
    display: flex;
    flex-direction: column;
    margin-inline: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text_01{
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text_02{
    font-family: "Poppins", sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text_03{
    font-family: "Poppins", sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}